{% extends "pcrs/base.html" %}
{% load static %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static 'analytics/js/analytics.js' %}" type="text/javascript"></script>
{% endblock %}


{% block content %}
	<div class="analytics-body">
	<h1 style="margin-top:0px">General Problem Analytics</h1>
	<hr />
		<div class="analytics-quest-wrapper">
			<div class="analytics-quest-header">General</div>
			<div class="analytics-quest-body">
				<select id="num_of_problems" name="num_of_problems">
					<option value="1">1</option>
					<option value="3">3</option>
					<option value="5">5</option>
					<option value="10">10</option>
				</select>
				<button name="easy_problems" class="btn btn-primary btn-download-data">Easy Problems</button>
				<button name="hard_problems" class="btn btn-primary btn-download-data">Hard Problems</button>
			</div>
		</div>
	<h1 style="margin-top:0px">Mastery Quiz Analytics</h1>
	<hr />
	{% for mastery_quiz in mastery_quizzes %}
		<div class="analytics-quest-wrapper">
			<div id="{{ mastery_quiz.id }}" class="analytics-quest-header">{{ mastery_quiz.name }}</div>
			<div class="analytics-quest-body">
				<button name="quiz_not_attempted" class="btn btn-primary btn-download-data">Students that haven't attempted</button>
				<button name="quiz_not_finished" class="btn btn-primary btn-download-data">Students that haven't finished</button>
			</div>
		</div>
	{% endfor %}
	<h1 style="margin-top:0px">Quest Analytics</h1>
	<hr />
	{% for quest in quests %}
		<div class="analytics-quest-wrapper">
			<div class="analytics-quest-header">{{ quest.name }}</div>
			<div class="analytics-quest-body">
				<a class="btn btn-primary btn-download-data">Download Student Data</a>
			</div>
		</div>
	{% endfor %}
	</div>

	<!-- Mastery Quiz Completion Modal -->
	<div class="modal fade" id="analytics-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">Analytics</h4>
	      </div>
	      <div class="modal-body">

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Easy/Hard Problem Modal -->
	<div class="modal fade" id="analytics-easy-hard-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">Analytics</h4>
	      </div>
	      <div class="modal-body">

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Easy/Hard Problem Modal -->
	<div class="modal fade" id="analytics-easy-hard-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">Analytics</h4>
	      </div>
	      <div class="modal-body">

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

{% endblock %}
