{% extends "pcrs/base.html" %}
{% load static %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'mastery/js/mastery_quiz.js' %}"></script>
{% endblock %}


{% block content %}

	<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

	<button id="start-mastery-quiz" class="btn btn-primary">Start Quiz</button>

	<div class="modal fade" id="ta-modal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="ta-modal-header"></h4>
	      </div>
	      <div class="modal-body">
	      	<span id='ta-modal-body'></span>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

{% endblock %}