{% extends "pcrs/base.html" %}
{% load static %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'mastery/js/mastery_quiz.js' %}"></script>
{% endblock %}


{% block content %}

	<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

	You're currently in a mastery quiz session with the code {{ quiz.code }}, started
	on {{ quiz.time_started }}
	<br /><br />
	Please end the session below once you are finished.
	<br /><br />

	<button id="end-mastery-quiz" class="btn btn-primary">End Session</button>

	<br />
	<br />

	<div class="messages">
		
	</div>

{% endblock %}